Flask==0.12.2

# MongoDB
Flask-PyMongo==0.5.1
pymongo==3.4.0
flask-mongoengine==0.9.3

# Admin
flask_admin==1.5.0


# Application server for both development and production.
gunicorn==19.7

# Testing and static analysis.
pytest==3.1.2
pytest-cov==2.5.1
flake8==3.3.0

# CLI.
Click==6.4

# Extensions.
flask-debugtoolbar==0.10.0

# flask-script
flask-script==2.0.5
