#Flask
-------

# MongoDB
Flask-MongoEngine
Flask-Login>=0.3.0

# Admin
flask_admin==1.5.0

# File Uplod
Flask-Uploads==0.2.1
# Security
flask_security==3.0.0

# Application server for both development and production.
gunicorn==19.7

# Testing and static analysis.
pytest==3.1.2
pytest-cov==2.5.1
flake8==3.3.0

# CLI.
Click==6.4

# Extensions.
flask-debugtoolbar==0.10.1

# flask-script
flask-script==2.0.5

# requests
requests==2.12.4

# beautifulsoup4
beautifulsoup4==4.5.3

# lxml
lxml==3.7.2

# Json validation
jsonschema==2.6.0
