{% extends 'layouts/base.html' %}

{% block title %}Course Scheduling{% endblock %}
{% block meta_description %}Course Scheduling Home Page{% endblock %}

{% block style %}
  body {
    margin: auto;
    background: #eaeaea;
    font-family: 'Open Sans', sans-serif;
  }

  .info p {
    text-align:center;
    color: #999;
    text-transform:none;
    font-weight:600;
    font-size:15px;
    margin-top:2px
  }

  .info i {
    color:#F6AA93;
  }
  form h1 {
    font-size: 18px;
    background: #F6AA93 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align:left
  }

  form {
    border-radius: 5px;
    max-width:700px;
    width:100%;
    margin: 5% auto;
    background-color: #FFFFFF;
    overflow: hidden;
  }

  p span {
    color: #F00;
  }

  p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
  }

  h1 {
    text-align:center;
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin:50px 0px 0px 0px
  }

  input {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
  }

  a {
    text-decoration:inherit
  }

  textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px;
    float: left;
    padding: 0px 15px;
  }

  .form-group {
    overflow: hidden;
    clear: both;
  }

  .icon-case {
    width: 40px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:40px;
    position: relative;
    text-align: center;
    line-height:40px;
  }

  i {
    color:#555;
  }

  .contentform {
    padding: 30px 30px;
  }

  .button-send{
    background-color: #81BDA4;
    color: #FFF;
    text-align: center;
    width: 90%;
    border:0;
    <!-- padding: 17px 25px; -->
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    margin
    font-size: 18px;
  }

  .leftcontact {
    width:50%;
    float:left;
    <!-- border-right: 1px dotted #CCC; -->
    <!-- box-sizing: border-box; -->
    padding: 0px 15px 0px 0px;
  }

  .rightcontact {
    width:50%;
    float:right;
    <!-- box-sizing: border-box; -->
    padding: 0px 0px 0px 15px;
  }

  .validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #DE5959;
  }

  #sendmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
  }

  #sendmessage.show,.show  {
    display:block;
  }

{% endblock %}




{% block body %}
  <h1>Course Scheduling</h1>

   <form>
     <div>
       <div id="sendmessage"> Your message has been sent successfully. Thank you. </div>

       <div class="leftcontact">
         <div class="form-group">
           <p>Current Quarter <span>*</span></p>
           <select>
             <option value="--" selected="true" disabled="disabled">--</option>
             <option value="fall">Fall</option>
             <option value="winter">Winter</option>
             <option value="spring">Spring</option>
             <option value="ssi">Summer Session I</option>
             <option value="ssii">Summer Session II</option>
             <option value="ss10">Summer Session 10-Week</option>
           </select>
         </div>
       </div>

     <div class="rightcontact">
       <div class="form-group">
         <p>Number of Credits Applied <span>*</span></p>
         <span class="icon-case"><i class="fa fa-bar-chart"></i></span>
         <input type="number" step="0.1" min=0 name="credits" id="credits" data-rule="required"/>
         <div class="validation"></div>
       </div>
     </div>

     <div class="form-group">
       <p>Requirements <span>*</span></p>
       <span class="icon-case"><i class="fa fa-book"></i></span>
       <input type="text" name="requirements" id="requirements" data-rule="required"/>
       <div class="validation"></div>
     </div>

     <div class="form-group">
       <p>Specialization Name (CS Major Only) <span>*</span></p>
       <select>
         <option value="--" selected="true" disabled="disabled">--</option>
         <option value="AI">Inteligent System</option>
         <option value="Info">Information</option>
         <option value="Algo">Algorithm</option>
         <option value="AES">Architecture and Embedded Systems</option>
         <option value="General">General Computer Science</option>
         <option value="Network">Networked Systems</option>
         <option value="Software">Systems and Software</option>
         <option value="Visual">Visual Computing</option>
       </select>
     </div>

     <div class="form-group">
       <p>Finished Course(s) (In the form of [‘cs111’, ‘cs1232’] ) <span>*</span></p>
       <span class="icon-case"><i class="fa fa-comments-o"></i></span>
       <textarea name="courses" rows="14" data-rule="required" ></textarea>
       <div class="validation"></div>
     </div>

     <div class="form-group">
       <p>Unwanted Course(s) (Note that there are courses you cannot avoid [i.e. major requirements]) <span>*</span></p>
       <span class="icon-case"><i class="fa fa-comments-o"></i></span>
       <textarea name="courses" rows="14" data-rule="required" ></textarea>
       <div class="validation"></div>
     </div>

   </div>
    <a href="{{ url_for('schedule.schedule_output') }} " class="btn btn-lg button-send" role="button">Send</a>

  </form>

{% endblock %}
