{% extends 'layouts/base.html' %}

{% block title %}Course Scheduling{% endblock %}
{% block meta_description %}Course Scheduling Home Page{% endblock %}

{% block extra %}
<!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"
      rel="stylesheet" type="text/css"/>
<script type="text/javascript"
        src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
      rel="stylesheet" type="text/css"/>
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"
        type="text/javascript"></script>
<link
        rel="stylesheet"
        href="{{ url_for('static', filename='styles/mystyle.css') }}">
<!-- Latest compiled and minified JavaScript -->
<!--<script ype="text/javascript" src="{{ url_for('static', filename='scripts/vendor/bootstrap-3.3.2.min.js') }}" ></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='scripts/vendor/bootstrap.min.js')}}"></script>-->
<!--<script type="text/javascript" src="{{ url_for('static', filename='scripts/vendor/bootstrap-multiselect.js')}}"></script>-->
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/vendor/bootstrap-multiselect.css')}}" >-->
{% endblock %}



{% block body %}


<!--<h1>Course Scheduling</h1>-->
<div class="container">
    <div class="row">
        <div class=".col-sm-5 .col-md-6">
            <h1>Course Scheduling</h1>
        </div>
    </div>
</div>
<div class="container">
    <form id="multiselectForm" class="form-horizontal">


        <div class="form-group">
            <label class="col-xs-3 control-label">{{ form.firstQuarter.label }}</label>
            <div class="col-xs-5">
                {{ form.firstQuarter(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-3 control-label">{{ form.majors.label }}</label>
            <div class="col-xs-5">
                {{ form.majors(class="form-control") }}

            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-5 col-xs-offset-3">
                {{ form.next(class="btn btn-success button-send submit") }}
            </div>
        </div>

    </form>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#{{ form.majors.id }}').multiselect();
        $('#{{ form.firstQuarter.id }}').multiselect();
    });
</script>
{% endblock %}
