
  form h1 {
    font-size: 18px;
    background: #F6AA93 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
    text-align:left
  }

  form {
    border-radius: 5px;
    max-width:1000px;
    width:100%;
    margin: 2% auto;
    background-color: #FFFFFF;
    overflow: visible;
  }

  td {
    cursor: pointer;
  }
  p span {
    color: #F00;
  }

  p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
  }

  h1 {
    text-align:center;
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin:50px 0px 0px 0px
  }

  a {
    text-decoration:inherit
  }

  textarea {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #EEE;
    margin: 0;
    width: 75%;
    height: 130px;
    float: left;
    padding: 0px 15px;
  }

  .btn-secondary {
    background-color: #ffffff;
    border-color: #ffffff;
  }

  .form-group {
    overflow: visible;
    clear: both;
  }

  .input-field {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #eee;
    margin-bottom: 15px;
    width: 75%;
    height: 40px;
    float: left;
    padding: 0px 15px;
  }

  .icon-case {
    width: 40px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:40px;
    position: relative;
    text-align: center;
    line-height:40px;
  }

  i {
    color:#555;
  }

  .contentform {
    padding: 30px 30px;
  }

  .button-send{
    background-color: #81BDA4;
    color: #FFF;
    text-align: center;
    width: 90%;
    border:0;
    <!-- padding: 17px 25px; -->
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
  }

  .row {
    margin-right: 15px;
    margin-left: 15px;
  }

  .leftcontact {
    width:50%;
    float:left;
    padding: 0px 15px 0px 0px;
  }

  .rightcontact {
    width:50%;
    float:right;
    <!-- box-sizing: border-box; -->
    padding: 0px 0px 0px 15px;
  }

  .validation {
    display:none;
    margin: 0 0 10px;
    font-weight:400;
    font-size:13px;
    color: #DE5959;
  }

  .form-group table th{
    padding: 10px 15px;
  }
  .form-group table td{
    padding: 10px 10px 10px 10px;
  }

  #sendmessage {
    border:1px solid #fff;
    display:none;
    text-align:center;
    margin:10px 0;
    font-weight:600;
    margin-bottom:30px;
    background-color: #EBF6E0;
    color: #5F9025;
    border: 1px solid #B3DC82;
    padding: 13px 40px 13px 18px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
  }


  #sendmessage.show,.show  {
    display:block;
  }

